body {
    font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    
  }
h2{
    font-size: 48px;
}
h3{
    align-self: flex-end;
}
ul,li,a{
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 36px;
    text-decoration: none;
    display: flex;
    color: #F9FAF8;
  }

.topbar{
    background-color: #1f2937;
    display: flex;
    font-size: 18px;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-between;
    padding: 24px 128px;
}

.heading {
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    color: #F9FAF8;
    padding: 24px 128px;
    border: 0px;
    justify-content: space-between;
    font-size:  24px;
}
button{
    border-radius: 5px;
    font-size: 18px;
    background-color: #3882F6;
    border: none;
    padding: 10px 16px;
}
.bidding{
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 12px;
    justify-content: center;
}

.NFTs{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;
    flex-direction: column;  

}
.holder{
    display: flex;
    gap: 24px;
    padding: 16px;
}

.quotes{
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    padding: 60px 256px;
    display: flex;
    flex-direction: column; 
}



  /* Add some padding and a grey background color to containers */
  .container {
    padding: 24px 256px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #e5e7eb;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    background-color: #ca5050;
  }

  .footer{
    background-color: #1f2937;
    display: flex;
    font-size: 12px;
    color: #F9FAF8;
    justify-content: center
  }